@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent:rgb(188, 253, 7);
}

.hero {
    position: relative;
    width: 100%;
    height: 350px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero___text {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-family: "Rock Salt", sans-serif;
    font-size: clamp(1em, 10vw, 8em);
    user-select: none;
    pointer-events: none;
    line-height: 0;
}

/*! The styles below are for the fixed-at-bottom nav */

.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    bottom: 0;
}

.nav i {
    background-color: var(--accent);
    
}

/* ! The styles below are for the hamburger nav */ 

/* .nav {
    position: absolute;
    cursor: pointer;
    top: 1em;
    left: 1em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav___hamburger {
    position: absolute;
    cursor: pointer;
    display: block;
    pointer-events: none;
}

.nav___hamburger-line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    opacity: 1;
    transition: 0.3s all;
    pointer-events: none;
}

.line-1 {
    transform: translateX(9px) translateY(9px) rotate(90deg);
    transition: 0.3s all;
}

.line-2 {
    opacity: 0;
    transform: rotate(90deg);
    transition: 0.3s all;
}

.line-3 {
    transform: translateX(-9px) translateY(-9px) rotate(90deg);
    transition: 0.3s all;
}


.nav___items {
    position: absolute;
    font-size: clamp(0.75em, 10vw, 1em);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: max-content;
    list-style: none;
    cursor: default;
    color: white;
    top: 2.5em;
    left: 0em;
    padding: 3px;
    text-transform: uppercase;
    opacity: 1;
    transform: translateX(0);
    transition: 0.3s ease-in;
}

.hideItems {
    opacity: 0;
    left: -3em; 
}

.nav___items a:link, .nav___items a:visited {
    color: white;
    text-decoration: none;
}

.nav___items li + li {
    margin: 1em 0;
}  */

.home h2 {
    text-align: center;
    margin-top: 1em;
    font-family: "Raleway", Arial, Helvetica, sans-serif  ;
}