@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero___text {
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    font-size: clamp(1em, 10vw, 8em);
    user-select: none;
    pointer-events: none;
}

.hero___text h1 {
    font-family: "Rock Salt", sans-serif;
}

/*! The styles below are for the fixed-at-bottom nav */

.nav {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    bottom: 0;
    background-color: white;
    border-top: solid 1px rgba(0, 0, 0, 0.5);
}

.nav___item {
    display: flex;
    justify-content: center;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav a:visited, .nav a:link {
    color: black;
    text-decoration: none;
}


.nav___item i {
    font-size: 2em;
}

.nav___item h4 {
    font-size: 1em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* ! The styles below are for the hamburger nav */ 

/* .nav {
    position: absolute;
    cursor: pointer;
    top: 1em;
    left: 1em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav___hamburger {
    position: absolute;
    cursor: pointer;
    display: block;
    pointer-events: none;
}

.nav___hamburger-line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    opacity: 1;
    transition: 0.3s all;
    pointer-events: none;
}

.line-1 {
    transform: translateX(9px) translateY(9px) rotate(90deg);
    transition: 0.3s all;
}

.line-2 {
    opacity: 0;
    transform: rotate(90deg);
    transition: 0.3s all;
}

.line-3 {
    transform: translateX(-9px) translateY(-9px) rotate(90deg);
    transition: 0.3s all;
}


.nav___items {
    position: absolute;
    font-size: clamp(0.75em, 10vw, 1em);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: max-content;
    list-style: none;
    cursor: default;
    color: white;
    top: 2.5em;
    left: 0em;
    padding: 3px;
    text-transform: uppercase;
    opacity: 1;
    transform: translateX(0);
    transition: 0.3s ease-in;
}

.hideItems {
    opacity: 0;
    left: -3em; 
}

.nav___items a:link, .nav___items a:visited {
    color: white;
    text-decoration: none;
}

.nav___items li + li {
    margin: 1em 0;
}  */

#about {
    padding-top: 2.5%;
}

.card {
    width: 95%;
    margin: auto;
    background-color: beige;
    border-radius: 0.5em;
    box-shadow: 0 4px 0.5em rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.card___head {
    background-color: black;
    color: white;
    text-align: left;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: clamp(1em, 3vw, 1.5em);
    padding: 0.5em;
    text-transform: lowercase;
    letter-spacing: 3px;
}

.about___card-photo {
    position: relative;
    width: 100%;
    text-align: center;
}
/* 
.about___card-photo::after {
    content: 'I guess my face \A goes here?';
    white-space: pre;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: clamp(0.5em, 3vw, 2em);
} */
/* 
.about___card-photo img {
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid black;
    filter: brightness(0);
} */

.card___body {
    padding: 0 0.25em;
}

.card___body-top {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0.25em;
}

.card___body-top i {
    font-size: clamp(8em, 40vw, 20em);
    margin: 0.05em auto;
}

.card___body-top h3 {
    font-size: clamp(1em, 5vw, 4em);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: bold;
    font-weight: 300;
    text-align: center;
}

.card___body-top h4 {
    font-size: clamp(0.75em, 3.5vw, 3.25em);
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}

.card___body-bottom {
    display: block;
    padding: 0.5em;
    margin: 0 auto;
    max-width: 50ch;
    line-height: 1.5em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: clamp(0.75em, 3.5vw, 3.25em);
    font-weight: 300;
}

.resume {
    height: 200vh;
}

.contact {
    height: 200vh;
}