@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent:rgb(188, 253, 7);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vw;
    max-height: 40vh;
    background-color: black;
    color: white;
    font-family: "Rock Salt", sans-serif;
    font-size: clamp(3em, 15vw, 9vh);
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.hero___text {
    position: relative;
}

.nav {
    position:absolute;
    cursor: pointer;
    width: 40px;
    height: 20px;
    padding-top: 10px;
    padding-left: 5px;
    top: 0.25em;
    left: 0.25em;
}

.nav___hamburger {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color:red;
    font-size: 2em;
    font-weight: 400;
}

.nav___hamburger::before, .nav___hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color:red;
    font-size: 2em;
    font-weight: 400;
}

.nav___hamburger::before {
    top: 5px;
}

.nav___hamburger::after {
    top: -5px;
}